.card-list {
  background: #e7ebf3;
  padding: 8px;
  width: 250px;
}

.card-list__title {
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-transform: lowercase;
}

.card-list__form {
  display: flex;
  justify-content: center;
  flex-direction: column;

  textarea {
    resize: none;
    outline: none;
    border: 1px solid lightgray;
    height: 60px;
    padding: 5px;
  }
}

.card-list__close-form-btn.fa {
  cursor: pointer;
  font-size: 3rem;
  margin-left: 10px;
  &:hover {
    color: gray;
  }
}

.card-list__form-footer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  button {
    background: green;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    &:hover {
      color: black;
    }
  }
}

.card-list__button--add-card {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  &:hover {
    text-decoration: underline;
  }
}
