.dashboard {
    padding: 0 10%;
}

.dashboard__title {
  padding: 5px 0;
  background: lighten($blue, 10%);
  color: white;
  font-size: 2rem;
}

.dashboard__wrapper {
  display: flex;
  justify-content: space-between;
}
